# .vscodeignore is meant for files that
# should be ignored when the extension
# is installed

.gitignore
.vscode/**
.vscode-test/**
build/
markdownPreview/
notebook/
out/test/**
src/
tsconfig*.json
**/*.map
